*{
    margin: 0px;
    padding: 0px;
    background-color: #091921;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}


:root{
    --text: #00fff1;
}


h1{
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 130px;
    color: white;
    text-shadow: 5px 0 #da0463;
    background: none;
    background-color: #00fff1;
    padding: 20px;
    width: fit-content;
    border: 2px solid #da0463;
    box-shadow: 3px 3px 5px #00fff1;
}
h2{
    display: flex;
    text-align: center;
    margin: auto;
    font-size: 50px;
    color: white;
    text-shadow: 2px 0 #da0463;
    background: none;
    background-color: #00fff1;
    padding: 20px;
    width: fit-content;
    border: 2px solid #da0463;
    box-shadow: 3px 3px 5px #00fff1;
}


.margin{
    margin: 100px 25px 0px 25px;
}


.drum{
    outline: none;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #00fff1, -3px -3px 5px rgb(0, 238, 255, 0.4);
    font-size: 45px;
    color: #da0463;
    text-shadow: 3px 0 white;
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
}


.q{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.w{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.e{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.r{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.t{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.a{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.s{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.d{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}
.f{
    background-image: url("images/drumkit.jpg");
    margin: 10px;
}


.pressed{
    box-shadow: 3px 3px 5px #da0463;
    opacity: 0.6;
    color: #00fff1;
}